/**
 * Styling for the landing only
 * Written by Daniel Kats
 * Jan 9, 2021
 */

body {
    height: 100%;
    width: 100%;
}

.wrapper.landing-view {
    padding: 0;
    margin: 0;
}

.hero {
    height: 50vh;
    background: linear-gradient(45deg, #1f57a6, #0c2c59);
}

.hero .title-text {
    /* hero text */
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* custom styling */
    font-size: 5rem;
    font-weight: lighter;
    color: white;
}

main {
    max-width: 700px;
    padding-top: 1rem;
    margin: 0 auto;
}

.landing-view main {
    padding-bottom: 1rem;
}

main .join-existing-games-container,
.instructions {
    font-size: 1.1rem;
}

main .join-existing-games-container {
    padding-bottom: 1rem;
}

form input {
    font-size: 1.1rem;
}

form button {
    margin-top: .5rem;
}

.lang-select-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: .8rem;
    padding-right: .8rem;
    color: white;
    font-size: 1rem;
}

.lang-select-option {
    display: inline-block;
    margin-left: 1rem;
    cursor: pointer;
}

.landing-view footer {
    font-size: .9rem;
    color: #bbb;
    text-align: center;
    width: 99%;
    /* position: absolute; */
    /* bottom: 1vh; */
    padding-bottom: .5rem;
}