/**
 * Styling for the local game only
 */

.bidding-view .player-order {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 600px;
    padding: 1rem 0;
    font-size: 1.2rem;
}

@media screen and (min-width: 900px) {
    .bidding-view .player-order {
        min-height: 10rem;
        max-width: 650px;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 5px;
    }
    .bidding-view .player-order .player-name {
        font-size: 1.1rem;
        padding-bottom: 0;
    }
    .bidding-view .player-order .player-name:first-of-type {
        position: relative;
        top: 6rem;
        left: 0rem;
    }
    .bidding-view .player-order .player-name:last-of-type {
        position: relative;
        top: 6rem;
        right: 4rem;
    }
    .bidding-view .player-hand-container {
        position: absolute;
        bottom: 0;
        width: 90%;
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 900px) and (min-height: 1000px) {
    .bidding-view .player-hand-container {
        padding-bottom: 4rem;
    }
}

.bidding-view .round-info {
    margin: 0 auto;
    max-width: 600px;
    padding-top: 1.5rem;
}

.bidding-view .round-info p {
    margin: 0;
    padding: 0;
}

.bidding-view .player-action-container {
    margin: 0 auto;
    max-width: 600px;
    padding-top: .5rem;
}

.bidding-view form .error-msg {
    color: red;
    margin: 0;
    padding: 0;
    font-size: .9rem;
}

.bidding-view form label {
    font-weight: bold;
}

.bidding-view form .btn-group {
    margin: 0;
    padding-top: .5rem;
}

.bidding-view form .btn {
    margin: 0;
}

.bidding-view .bid-history {
    padding-top: 1rem;
}

.reveal-treasure-view form {
    max-width: 600px;
    margin: 0 auto;
}

.reveal-treasure-view form .btn-group {
    width: 100%;
}

.distribute-cards-view .assignment-table-container {
    padding-top: 1rem;
}

.trick-taking-view .card-selected {
    background-color: yellow;
}

.trick-taking-view .player-hand-container {
    position: absolute;
    bottom: 2rem;
    width: 90%;
}

.trick-taking-view form {
    margin: 0 auto;
    text-align: center;
}

.trick-taking-view .turn-container {
    margin: 0 auto;
    text-align: center;
}

.trick-taking-view .current-trick-wrapper {
    position: absolute;
    top: 35vh;
    width: 90%;
    /* max-width: 800px; */
    /* margin: 0 auto; */
}

.trick-taking-view .current-trick-container {
    margin: 0 auto;
    max-width: 500px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}