.table-view {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.table-view .opponent {
    width: 110px;
    text-align: center;
}

.table-view .opponent .player-name {
    font-size: 1.2rem;
}

.table-view .player-image {
    font-size: 3rem;
}


/* .table-view {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 600px;
    padding: 1rem 0;
    font-size: 1.2rem;
}

@media screen and (min-width: 820px) {
    .table-view {
        min-height: 10rem;
        max-width: 650px;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 5px;
    }
    .table-view .player-name {
        font-size: 1.1rem;
        padding-bottom: 0;
    }
    .table-view .player-name:first-of-type {
        position: relative;
        top: 6rem;
        left: 0rem;
    }
    .table-view .player-name:last-of-type {
        position: relative;
        top: 6rem;
        right: 4rem;
    }
} */