html, body {
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}

main {
	margin-top: 5vh;
}

.player-container {
	display: flex;
	justify-content: space-between;
}

.player {
	padding-left: .5rem;
	padding-right: .5rem;
}

.player-cards-suit {
	padding-right: .5rem;
}

header {
	text-align: center;
}

header .game-id {
	font-size: 1.1rem;
}

.round-view {
	padding-top: 1rem;
}